
/*  Extra CSS written by Shinto Labs for softui-based shinto applications */
/* Fixes various small layout/size/margin problems with common shiny or page elements */

/* Icon in menu left in dashboard_page */
.nav-link.active .sidebar-icon{
   color: white !important;
}

/* tab_box highlighted tab title */
.nav-pills .nav-link.active{
	background-color: #345483 !important;
	color: white !important;
}


/* Numeric range input */
.input-numeric-range .input-group-addon{
  border: 1px solid #A2A2A2;
  background: #ECECEC;
}

/* hide scroll bar in sidenav when minimized */
.sidenav{
  overflow: hidden;
}
/* menu left (sidenav) tidy collapse */
#sidenav-collapse-main{
  overflow: hidden;
}

/* sidenav toggler fix */
.sidenav-toggler{
  padding-top: 0.95rem !important;
  margin-right: 1rem !important;
}

/* second title in the top bar */
.header_tagline{
  font-style: italic;
  margin-bottom:0;
  padding-top: 14px;
}


/* button text size  */
.btn{
  font-size: 0.9rem !important;
  text-transform: none !important;
  line-height: 1.5 !important;
} 

/* fileInput */
.btn-file{
 background-color: white;
 border-top-right-radius:0 !important;
 border-bottom-right-radius:0 !important;
 line-height: 1rem !important;
 border: 1px solid lightgrey !important;
 box-shadow: none !important;
 padding: 1rem 1.5rem;
 margin-bottom:0;
}

/* shinycssloader busy bar top of app */
.progress-bar{
  margin-top: 4px !important;
  height: 12px !important;
}

/* fileInput button does not fit with file input to the right fix*/
.input-group-prepend{
   margin-bottom: 0 !important;
}




/* datatable background color */
.table.dataTable tbody tr.active td {
    background-color: #345483 !important;
}


.modal-title{
  width: 100% !important;
}

/* branded gradient text */
.text-gradient.text-shinto {
  background-image: linear-gradient(310deg, #b82525, #000000);
}

/* for icons that rotate on click */
.rotate{
    transition: all 0.3s linear;
}

.rotate.rotated180{
    transform:rotate(180deg);
}

/* shinyWidgets materialSwitch */
.material-switch>input[type=checkbox]:checked+label:after {
  background-color: #345483 !important; 
}  
  
/* input labels were very small */
label {
  font-size: 0.9rem;
}

/* checkbox labels, sizing */
.checkbox label, .radio label, .radio-inline label {
    min-height: 20px;
    padding-left: 2px;
    margin-bottom: 0;
    font-weight: 400;
    cursor: pointer;
}

/* daterangeinput fixes */
.input-daterange .input-group-addon{
  border: 1px solid #A2A2A2;
  background: #ECECEC;
}
.input-group .input-group-text{
  border: none;
  background: #ECECEC;
}


/* for disable_link and others */
.inactivelink{
  pointer-events: none;
  cursor: default;
  color: #bbbbbb !important;
}

