.nav-link.active .sidebar-icon{
   color: white !important;
}

/* tab_box highlighted tab title 
.nav-pills > .nav-link.active{
	background-color: #8392ab;
	color: white;
}*/


/* Numeric range input */
.input-numeric-range .input-group-addon{
  border: 1px solid #A2A2A2;
  background: #ECECEC;
}


.header_tagline{
  font-style: italic;
  margin-bottom:0;
  padding-top: 14px;
}

.btn{
  font-size: 0.9rem !important;
  text-transform: none !important;
  line-height: 1.5 !important;
} 

.table.dataTable tbody tr.active td {
    background-color: #345483 !important;
}
